.fullPageBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.background {
    width: 1920px;
    height: 1080px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speakButton {
    position: absolute;
    bottom: 150px;
    right: 880px;
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
}

.speakButton:hover {
    filter: brightness(1.1);
}

.speakButton:active {
    filter: brightness(0.5);
}

.story-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
    margin: 20px auto;
    display: block;
}

.story-text {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vocabulary-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.vocabulary-word {
    font-size: 20px;
    font-weight: bold;
    color: #007BFF;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}
